html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Sign up &mdash; FxChange Club
    link(rel='stylesheet', href='/vendor.min.css')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    base(href='/')
  body#page-top
    .global-wrap
      app-header
        nav#mainNav.navbar.navbar-default.navbar-fixed-top
          .container-fluid
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                |  Menu
                i.fa.fa-bars
              |  
              a.navbar-brand.page-scroll.ng-binding(ui-sref='app.home', ng-bind='::$ctrl.appName | lowercase', href='#!/') fxchange club
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right(show-authed='false', style='display: inherit;')
                li
                  a.page-scroll(ui-sref-active='active', ui-sref='app.login', href='#!/login') Login
                li.nav-item
                  a.nav-link.active(ui-sref-active='active', ui-sref='app.register', href='#!/register') Sign up
              ul.nav.navbar-nav.navbar-right(show-authed='true', style='display: none;')
                li
                  a(ui-sref-active='active', ui-sref='app.home', href='#!/') Home
                li
                  a(ui-sref-active='active', ui-sref='app.transaction.list')
                    i.ion-load-a
                    |  &nbsp;Transactions
                li
                  a(ui-sref-active='active', ui-sref='app.settings')
                    i.ion-gear-a
                    |  &nbsp;Settings
                li
                  a.ng-binding(ui-sref-active='active', ui-sref='app.profile.main({ username: $ctrl.currentUser.username})')
                    img.user-pic 
      section.home-page
        .container.page
          .row
            .col-md-6.offset-md-3.col-xs-12
              h1.text-xs-center Sign up
              p.text-xs-center
                a(href='#!/login') Have an account?
              ul.error-messages
              form(name='auth', method="post", action="/referral")
                input(name='ref', type='hidden', value=ref)
                fieldset
                  fieldset.form-group
                    input.form-control.form-control-lg(type='text', name="username", placeholder='Username', required='required')
                  fieldset.form-group
                    input.form-control.form-control-lg(type='email', name="email", placeholder='Email', required='required')
                  fieldset.form-group
                    input.form-control.form-control-lg(type='password', name="password", placeholder='Password', required='required')
                  fieldset.form-group
                    input.form-control.form-control-lg(type='text', name="phone", placeholder='Phone Number', required='required')
                  fieldset.form-group
                    label(for='plan') Choose plan
                    |  
                    select.form-control(name='plan', required='required')
                      option(value='', selected='selected') ---Please select plan---
                      option(value='1') Starter - &#x20A6;10,000
                      option(value='2') Basic - &#x20A6;20,000
                      option(value='3') Ultima - &#x20A6;50,000
                      option(value='4') VIP - &#x20A6;100,000
                  fieldset.form-group
                    label(for='bk_name') Choose Bank
                    |  
                    select.form-control(name='bk_name', ng-model='$ctrl.formData.bk_name', required='required')
                      option(value='', selected='selected') ---Please select bank---
                      option(value='access bank') Access Bank
                      option(value='afri bank') Afri Bank
                      option(value='citi bank') Citi Bank
                      option(value='diamond bank') Diamond Bank
                      option(value='eco bank') Eco Bank
                      option(value='fcmb') FCMB
                      option(value='fidelity bank') Fidelity Bank
                      option(value='first bank of nigeria') First Bank of Nigeria
                      option(value='gtb') GTB
                      option(value='heritage bank') Heritage Bank
                      option(value='keystone bank') Keystone Bank
                      option(value='skye bank') Skye Bank
                      option(value='stanbic ibtc bank') Stanbic IBTC Bank
                      option(value='standard chartered bank') Standard Chartered Bank
                      option(value='sterling bank') Sterling Bank
                      option(value='uba') UBA
                      option(value='union bank') Union Bank
                      option(value='unity bank') Unity Bank
                      option(value='wema bank') WEMA Bank
                      option(value='zenith bank') Zenith Bank
                  fieldset.form-group
                    input.form-control.form-control-lg(type='text', name="bk_name", placeholder='Bank Name', required='required')
                  fieldset.form-group
                    input.form-control.form-control-lg(type='text', name="bkaccount_name", placeholder='Account Name', required='required')
                  fieldset.form-group
                    input.form-control.form-control-lg(type='text', name="bkaccount_number", placeholder='Account Number', required='required')
                  |  
                  button.btn.btn-lg.btn-primary.pull-xs-right.ng-binding(type='submit') Sign up
    .page-loader(style='display:none')
      h1 Loading!
      .loader Loading...
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
