<growl message="$ctrl.message"></growl>
<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

				<h4 class="modal-title"> Change Plan</h4>

			</div>
			<div class="modal-body">
				<form class="form-group">
					<label for="plan">Change your plan</label>
					<select name="plan" id="form-control">
						<select name="plan" ng-model="$ctrl.formData.plan" class="form-control" required>
              <option value="">---Please select plan---</option>
              <option value="1">Starter - &#8358;10,000</option>
              <option value="2">Basic - &#8358;20,000</option>
              <option value="3">Ultima - &#8358;50,000</option>
              <option value="4">VIP - &#8358;100,000</option>
            </select>
					</select>

					<button ng-click="$ctrl.submit()">Change Plan</button>
				</form>	
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<recycle-card b="$ctrl.benex" d="$ctrl.donors"></recycle-card>
		</div>
		<div class="col-md-8">
			<tx-history history="$ctrl.history"></tx-history>
		</div>
	</div>

	<div class="row">
		<provide-help-card file="$ctrl.upload(file)" class="col-md-4" type=0 box="$ctrl.benex" ng-if="$ctrl.benex && $ctrl.benex.confirmation_status < 2"></provide-help-card> 
		<get-help-card class="col-md-4" type=1 ng-repeat="b in $ctrl.donors" box="b" ng-if="$ctrl.donors && b.confirmation_status < 2"></get-help-card>
	</div>
</div>