<div class="home-page" show-authed="true">
  <section class="home-section">
  	<div class="row">
  		<div class="sb col-md-4">
  			<div class="panel panel-info">
  				<div class="panel-heading">
  					<h3 class="panel-title">News / Testimonials </h3>
  				</div>
  				<div class="panel-body">
  					<ul>
  						<li class="news repeated-item" ng-repeat="news in $ctrl.news | orderBy:'-createdAt'">
                <h4 class="title">{{news.title}}</h4>
                <p ng-if="news.excerpt" ng-bind="news.excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, non?</p>
                <!-- <a ui-serf="app.news({id: news.id})">Read more</a> -->
              </li>
  					</ul>
  				</div>
  			</div>
  		</div>
  		<div class="ct col-md-7">
        <div class="row">
          <div uib-alert ng-show="$ctrl.alert.show" class="col-md-5" ng-class="'alert-' + (alert.type || 'warning')" close="$ctrl.closeAlert()">{{$ctrl.alert.msg}}</div>
          <a ui-sref="app.change" ng-if="$ctrl.user.plan_pending" class="btn btn-lg pull-right">Change Plan</a>
        </div>
  			
        <div class="row">
	  			<provide-help-card file="$ctrl.upload(file)" type=0 class="panel panel-default card col-md-4" box="$ctrl.benex" ng-if="$ctrl.benex && $ctrl.benex.confirmation_status < 2"></provide-help-card>  
          <recycle-card class="panel recycle col-md-4" type=0 ng-if="!$ctrl.benex"></recycle-card>			
  			</div>
  			
        <div class="row" style="margin-top: 45px;">
	  			<get-help-card class="panel panel-info card col-md-4" type=1 ng-repeat="b in $ctrl.donors" box="b" ng-if="$ctrl.donors && b.confirmation_status < 2"></get-help-card>
  			</div>
  		</div>
  	</div>
  </section>
</div>