<div class="card">
	<div class="header">
		<h4 class="title">Previous Transactions</h4>
		<p class="category">Last 5 Transactions</p>
	</div>
	<div class="content table-responsive table-full-width">
		<table class="table table-hover table-striped">
      <thead>
        <tr>
        	<th>ID</th>
        	<th>Plan</th>
        	<th>Matched To</th>
        	<th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="tx in $ctrl.history">
        	<td ng-bind="tx.objectId"></td>
        	<td>&#8358;{{$ctrl.setPlan(tx.donor.plan)}}</td>
        	<td>{{$ctrl.getName(tx)}}</td>
        	<td>{{$ctrl.setStatus(tx.confirmation_status)}}</td>
        </tr>
      </tbody>
    </table>
	</div>
</div>