<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Your Favorite P2P Donation Website</h1>
            <hr>
            <p>Start earning fantastic returns on your donations with FXChange Club, no strings attached!</p>
            <a ui-sref="app.register" class="btn btn-primary btn-xl page-scroll">Register</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">FXChange Club is a peer-to-peer giving and receiving platform for members, to help fellow members in an efficient way. By using this scheme, members give and receive from each other.</p>
                <a ui-sref="app.register" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                    <h3>Sturdy P2P Network</h3>
                    <p class="text-muted">Donate and earn 100% of your initial investment.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                    <h3>Ready For You</h3>
                    <p class="text-muted">Receive earnings in under 6 hours!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We promptly ban cyber-beggers and non-compliant users.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lock text-primary sr-icons"></i>
                    <h3>Made Tough</h3>
                    <p class="text-muted">Our site is secured so your personal information is safe!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="block">

                <div class="col-xs-12 col-sm-6 col-md-3">
                        <ul class="pricing p-green">
                            <li>
                                <img src="img/settings_g.svg" alt="">
                                <big>Starter</big>
                            </li>
                            <li>2:1 Matrix</li>
                            <li>Auto Assign</li>
                            <li>Referral Bonus</li>
                            <li>
                                <h3>&#8358;10,000</h3>
                                <span>Return Investment</span>
                            </li>
                            <li>
                                <a ui-sref="app.register" class="btn">Join Now</a>
                            </li>
                        </ul>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                        <ul class="pricing p-yel">
                            <li>
                                <img src="img/settings_y.svg" alt="">
                                <big>Basic</big>
                            </li>
                            <li>2:1 Matrix</li>
                            <li>Auto Assign</li>
                            <li>Referral Bonus</li>
                            <li>
                                <h3>&#8358;20,000</h3>
                                <span>Return Investment</span>
                            </li>
                            <li>
                                <a ui-sref="app.register" class="btn">Join Now</a>
                            </li>
                        </ul>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                        <ul class="pricing p-red">
                            <li>
                                <img src="img/settings_r.svg" alt="">
                                <big>Ultima</big>
                            </li>
                            <li>2:1 Matrix</li>
                            <li>Auto Assign</li>
                            <li>Referral Bonus</li>
                            <li>
                                <h3>&#8358;50,000</h3>
                                <span>Return Investment</span>
                            </li>
                            <li>
                                <a ui-sref="app.register" class="btn">Join Now</a>
                            </li>
                        </ul>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                        <ul class="pricing p-blue">
                            <li>
                                <img src="img/settings_b.svg" alt="">
                                <big>Vip</big>
                            </li>
                            <li>2:1 Matrix</li>
                            <li>Auto Assign</li>
                            <li>Referral Bonus</li>
                            <li>
                                <h3>&#8358;100,000</h3>
                                <span>Return Investment</span>
                            </li>
                            <li>
                                <a ui-sref="app.register" class="btn">Join Now</a>
                            </li>
                        </ul>
                </div>


            </div><!-- /block -->
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Get Started Now!</h2>
            <a ui-sref="app.register" class="btn btn-default btn-xl sr-button">Register</a>
        </div>
    </div>
</aside>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start donating? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>090-3736-6431</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:fxchange.club@gmail.com">fxchange.club@gmail.com</a></p>
            </div>
        </div>
    </div>
</section>