<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" ui-sref="app.home"
          ng-bind="::$ctrl.appName | lowercase"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" show-authed="false">
        <li>
          <a class="page-scroll" ui-sref-active="active" ui-sref="app.login">Login</a>  
        </li>
        <li class="nav-item">
          <a class="nav-link"
            ui-sref-active="active"
            ui-sref="app.register">
            Sign up
          </a>
        </li>
      </ul>

      <!-- Show this for logged in users -->
      <ul show-authed="true"
        class="nav navbar-nav navbar-right">
        <li ng-if="$ctrl.currentUser.role == '0'"><a ui-sref-active="active" ui-sref="app.admin.dash.users">Admin</a></li>
        <li>
          <a
            ui-sref-active="active"
            ui-sref="app.dash">
            Dashboard
          </a>
        </li>

        <li>
          <a
            ui-sref-active="active"
            ui-sref="app.test">
            <i class="ion-gear-a"></i>&nbsp;Testimonials
          </a>
        </li>

        <li>
          <a
            ui-sref-active="active"
            ui-sref="app.settings">
            <i class="ion-gear-a"></i>&nbsp;Settings
          </a>
        </li>

        <li>
          <a
            ui-sref-active="active"
            ui-sref="app.profile.main({ username: $ctrl.currentUser.username})">
            <img ng-src="{{$ctrl.currentUser.image}}" class="user-pic" />
            {{ $ctrl.currentUser.username }}
          </a>
        </li>

        <li><a ng-click="$ctrl.logout()">Logout</a></li>

      </ul>

    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

