<div class="modal fade" id="ng-modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

				<h4 class="modal-title"> {{title}}</h4>

			</div>
			<div class="modal-body">
				<form class="form-group">
					<label for="plan">Change your plan</label>
					<select name="plan" id="form-control">
						<select name="plan" ng-model="$ctrl.formData.plan" class="form-control" required>
              <option value="">---Please select plan---</option>
              <option value="1">Starter - &#8358;10,000</option>
              <option value="2">Basic - &#8358;20,000</option>
              <option value="3">Ultima - &#8358;50,000</option>
              <option value="4">VIP - &#8358;100,000</option>
            </select>
					</select>

					<button ng-click="$ctrl.submit()">Change Plan</button>
				</form>	
			</div>
		</div>
	</div>
</div>